body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  float: none;
  margin: 0 auto;
}
.commit-list {
	margin-top: 20px;
}
.commit-list ul {
	padding: 0;
	margin-bottom: 40px;
}
.commit-list ul li{
	list-style: none;
	display: inline-block;
	padding: 10px;
	width: 100%;
}
.commit-list ul li.light-blue {
	background-color: #E6F1F6;
}
.commit-list ul li img{
	width: 50px;
	height: 50px;
	float: left;
}
.commit-list ul li .commit-info{
	float: left;
}
.commit-list ul li ul li{
	width: calc(100% - 50px);
    float: left;
    padding: 0;
    margin: 3px 0 0 0;
}
.commit-title {
	float: left;
	color: #586266;
	padding-left: 10px;
	font-weight: bold;
}
.author{
	float: left;
	color: #818181;
	padding-left: 10px;	
}
.commit-date{
	float: left;
	color: #818181;
}
.commit-date:after{
	font-family: FontAwesome;
	content:'\f00c';
	color: #5faf39;
	font-size: 12px;
	margin-left: 10px;
}
.sha{
	float: right;
	color: #586266;
}
.refresh {
	-moz-box-shadow: 0px 0px 0px 2px #666;
	-webkit-box-shadow: 0px 0px 0px 2px #666;
	box-shadow: 0px 0px 0px 2px #666;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e3e3e3), color-stop(1, #aeaeae));
	background:-moz-linear-gradient(top, #e3e3e3 5%, #aeaeae 100%);
	background:-webkit-linear-gradient(top, #e3e3e3 5%, #aeaeae 100%);
	background:-o-linear-gradient(top, #e3e3e3 5%, #aeaeae 100%);
	background:-ms-linear-gradient(top, #e3e3e3 5%, #aeaeae 100%);
	background:linear-gradient(to bottom, #e3e3e3 5%, #aeaeae 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#aeaeae',GradientType=0);
	background-color:#e3e3e3;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:8px solid #cbcbcb;
	display:inline-block;
	cursor:pointer;
	color:#555555;
	font-family:Arial;
	font-size:19px;
	padding:8px 45px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	text-transform: uppercase;
	font-weight: bold;
}
.refresh:before{
	font-family: FontAwesome;
	content:'\f005';
	color: #888888;
	position: relative;
	right: 10px;
}
.refresh:after{
	font-family: FontAwesome;
	content:'\f005';
	color: #888888;
	position: relative;
	left: 10px;
}
.refresh:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #aeaeae), color-stop(1, #e3e3e3));
	background:-moz-linear-gradient(top, #aeaeae 5%, #e3e3e3 100%);
	background:-webkit-linear-gradient(top, #aeaeae 5%, #e3e3e3 100%);
	background:-o-linear-gradient(top, #aeaeae 5%, #e3e3e3 100%);
	background:-ms-linear-gradient(top, #aeaeae 5%, #e3e3e3 100%);
	background:linear-gradient(to bottom, #aeaeae 5%, #e3e3e3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aeaeae', endColorstr='#e3e3e3',GradientType=0);
	background-color:#aeaeae;
	color:#555555;
	text-decoration: none;
}
.refresh:active {
	position:relative;
	top:1px;
}
